.thanhtieude {
background-color: #bc000b;
overflow: auto;
height: 50px;
color: white;
}
.muaban {
border: 1px solid #add;
border-radius: 4px;
padding:  5px;
width: 199px;
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
float: left;
margin-left: 24px;
margin-bottom: 24px;
}
.content {
	/*background-color: red;*/
	width: 100%px;
	overflow: auto;
}
.timkiem{
	background-color: #e5101d;
	height: 40px;
}
.danhmuc2{
	color: white;
	float: left;
	width: auto;
	margin-top: 0px;
	margin-left: 100px;
	margin-right: 25px;
	margin-bottom: 0px;
}
.timkiemsendo{
	width: 400px;
	height: 28px;
	float: left;
}
.nuttimkiem{
	background-color: #f5a623;
	color: white;
	height: 34px;
	float: left;
}
.item-left{
	/*width: 150px;*/
	width: auto;
	float: left;
	margin-left: 10px;
	height: 30px;
}
div.item-left:hover, div.item-left:active{
	color: red;
}
div.item-right:hover, div.item-right:active{
	color: red;}
.item-right{
	float: right;
	margin-right: 50px;
}
.timkiem{
padding-top: 10px;
}
.thanhcuoicung{
	background-color: black;
	color: white;
height: 400px;
}
.vechungtoi{
float: left;
margin-left: 50px;
}
.danhchonguoimua{
float: left;
margin-left: 50px;
}
.nguoiban{
float: left;
margin-left: 50px;
}
.dangky1{
	float: left;
	margin-left:50px;
}
.tancung{
	float: right;
}
.thanhcuoicung{
	font-family: sans-serif;
	line-height:80%;
	font-size: 15px;
}
.emailcuaban{
	width: 400px;
	height: 30px;
	float: left;
}
.dangky{
	height: 37px;
	float: left;
	background-color: #e5101d;
	color: white;
}
.tancung{
	text-align: right;
	margin-right: 30px;
	letter-spacing: 0px;
}
